.main {
    background: url('../../assets/backgroundProgramEng.svg') no-repeat bottom / cover;
    height: 100vh;
    overflow: auto;
}

.hamburger {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.caption {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    margin-top: 3%;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
}

.span {
    margin-top: 2%;
}

.navLink {
    font-size: 35px;
    color: white;
    text-decoration: none;
    background-color: #391E6D;
    border-radius: 109px;
}

.navLink:first-child {
    padding: 10px 20px;
}

.navLink:nth-child(2) {
    padding: 12px 30px;
}

.navLink:nth-child(3) {
    padding: 14px 30px;
}

.navLink:nth-child(4) {
    padding: 16px 35px;
}

.footer {
    font-size: 40px;
    color: white;
    margin-top: 3%;
}

@media screen and (max-width: 600px) {
    .caption {
        display: flex;
        justify-content: center;
        font-size: 25px;
        color: white;
        margin-top: 30%;
        margin-left: 20%;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;
    }

    .span {
        margin-top: 9%;
    }
    .navLink {
        font-size: 25px;
        color: white;
        text-decoration: none;
        background-color: #391E6D;
        border-radius: 109px;
    }

    .footer {
        font-size: 20px;
        color: white;
        margin-top: 13%;
    }
}
