.main {
  background: url('../../img/ProgramEng/backgroundProgramEng.png') no-repeat bottom / cover;
  height: 100vh;

  .hamburger {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .caption {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    margin-top: 3%;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
  }

  .navLink {
    font-size: 35px;
    color: white;
    text-decoration: none;
    margin-top: 1%;
    background-color: #391E6D;
    border-radius: 109px;
  }

  .navLink:first-child {
    padding: 10px 20px;
  }

  .navLink:nth-child(2) {
    padding: 12px 30px;
  }

  .navLink:nth-child(3) {
    padding: 14px 30px;
  }

  .navLink:nth-child(4) {
    padding: 16px 35px;
  }

  .footer {
    font-size: 40px;
    color: white;
    margin-top: 3%;
  }
}
