.main {
    background: url('https://firebasestorage.googleapis.com/v0/b/space-eng.appspot.com/o/Lesson%2FbackgroundLesson.png?alt=media&token=9480e93d-ba43-475a-9e9b-38a042b676d7') no-repeat left top / cover;
}

.lesson {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: auto;
}

.prevArrow, .nextArrow {
    width: 100px;
    height: 200px;
}

.prevArrow {
    transform: scale(-1, 1);
    margin-right: -20px;
}

.nextArrow {
    margin-left: 10px;
}

.nextArrow:hover, .prevArrow:hover {
    filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(347deg) brightness(99%) contrast(103%);
    cursor: pointer;
}

.backLesson {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #6743d0;
    border-radius: 60px;
    width: 350px;
    height: 400px;
    margin-left: 30px;
    padding: 10px;
}

.caption {
    font-size: 2vh;
    color: white;
}

.star {
    display: flex;
    justify-content: center;
    width: 5vh;
    margin-bottom: 10px;
}

.backImg {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.captionTheme {
    font-size: 3vh;
    color: white;
    text-align: center;
    margin-top: 10px;
}

