.main {
  background: url("../../Img/Lesson/backgroundLesson.png") no-repeat left top / cover;
  height: 100vh;

  .hamburger {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .lesson {
    display: flex;
    justify-content: center;


    .backLesson {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #2E05A3;
      border-radius: 60px;
      width: 40%;
      padding: 20px 0 20px 0;

      .caption {
        font-size: 18px;
        color: white;
      }

      .star {
        width: 60px;
      }
      .stars {

      }

      .backImg {
        width: 500px;
      }

      .captionTheme {
        font-size: 30px;
        color: white;
      }
    }
  }
}
