.main {
    background: url('../../assets/Cabinet.svg') no-repeat bottom / cover;
    height: 100vh;
    overflow: auto;
}

.content {
    display: grid;
    grid-template-areas: 'navBar profileField';
    grid-template-columns: 1fr 5fr;
    margin-top: 90px;
}

.navBar {
    grid-area: navBar;
    height: 90vh;
}

.pagesProfile {
    display: flex;
    flex-direction: column;
    margin: 30% 0 0 10%;
}

.pageProfile {
    margin-top: 10%;
    background-color: #5289E2;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    width: 200px;
    border-radius: 20px;
}

.navLink {
    text-decoration: none;
    color: white;
}

.navBar:first-child {
    margin-left: 10%;
}

.profileField {
  grid-area: profileField;
  margin-left: 5%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 53px;
  width: 80%;
  height: 75vh;
  display: grid;
  grid-template: 'profile progress';
  grid-template-columns: 2fr 2fr;
  grid-gap: 20px;
  padding: 50px;
}

.profile {
    grid-area: profile;
    background-color: #5289E2;
    border-radius: 44px;
    display: grid;
    grid-template-areas:
                  'divImgProfile'
                  'inputs'
                  'button';
    grid-template-rows: 6fr 4fr 2fr;
}

.divImgProfile {
    grid-area: divImgProfile;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgProfile {
    width: 250px;
    height: 250px;
}


.profileFields {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.span {
    margin: 10px 0 0 30px;
}


.inputs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 8%;
}

.input {
    margin-top: 3%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px black solid;
    background-color: #5289E2;
    color: #fff;
    font-size: 20px;
}

.input::placeholder {
    color: #fff;
}


.btnProfile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #663EE5;
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
}


.progress {
    grid-area: progress;
    display: grid;
    grid-template-areas:
                'progressField1'
                'progressField2';
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.progressField1 {
    grid-area: progressField1;
    background-color: #5289E2;
    border-radius: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.progressField2 {
    grid-area: progressField2;
    background-color: #5289E2;
    border-radius: 46px;
    padding: 2%;
}

.lvls {
    margin: 0 0 3% 5%;

}

.ul {
    margin-top: 5%;
}

.ul li {
    margin-top: 5%;
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    .main {
        height: 100%;
        overflow: auto;
    }

    .content {
        display: block;
        margin-top: 10px;
    }

    .navBar {
        margin-top: 10px;
        height: auto;
    }

    .pagesProfile {
        display: flex;
        flex-direction: column;
        margin: 5px 0 0 0;
    }

    .pageProfile {
        margin-top: 20px;
        font-size: 20px;
        border-radius: 10px;
    }

    .profileFields {
        margin: 30px 0;
        font-size: 18px;
    }

    .profileField {
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        border-radius: 20px;
        width: 90%;
        padding: 5%;
        height: auto;
    }

    .profile {
        width: 100%;
        display: block;
        border-radius: 20px;
    }

    .span {
        margin: 10px 0 0 20px;
    }

    .btn {
        margin: 10px 0;
        background-color: #5336bb;
        font-size: 20px;
        border-radius: 10px;
    }


    .progress {
        margin-top: 20px;
        width: 100%;
        display: block;
    }

    .progressField1 {
        display: block;
        padding: 10px;
        border-radius: 20px;
    }

    .progressField2 {
        margin-top: 20px;
        border-radius: 20px;
        padding: 10px;
    }

    .lvls {
        font-size: 25px;
        margin: 0 0 10px 30px;

    }

    .ul {
        margin-top: 10px;
    }

    .ul li {
        margin-top: 10px;
        font-size: 20px;
    }

    .imgProfile {
        margin-top: 20px;
        width: 100px;
        height: 100px;
    }
}

