.main {
  background: url("../../../img/Exercise/Sentence/backgroundSentence.png") no-repeat center / cover;
  height: 100vh;
  color: white;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;

    .rules {
      font-size: 20px;
      border-bottom: 2px #F9A52B solid;
      padding: 5px;
    }

    .sentence {
      margin-left: -30%;
      margin-top: 10%;
      font-size: 25px;
      width: 700px;
    }

    .answer {
      display: flex;
      margin-top: 15%;

      .fieldAnswer {
        width: 500px;
        background-color: white;
        padding: 10px;
        font-size: 20px;
        border-radius: 15px;
        margin-right: 2%;
        outline: none;
      }

      .buttonSentence {
        height: 47px;
        width: 150px;
        font-size: 20px;
        color: white;
        border-radius: 10px;
        background-color: #5289E2;
        outline: none;
      }
    }
  }
}
