.main {
    background: url('../../../assets/backgroundSentence.png') no-repeat center / cover;
    height: 100vh;
    color: white;
    overflow: auto;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rules {
    margin-top: 10px;
    font-size: 25px;
    border-bottom: 2px #F9A52B solid;
    padding: 5px;
}

.sentence {
    margin-top: 10%;
    font-size: 35px;
}

.answer {
    display: flex;
    margin-top: 15%;
}

.fieldAnswer {
    width: 500px;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    margin-right: 2%;
    outline: none;
}

.buttonSentence {
    height: 47px;
    width: 150px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    background-color: #5289E2;
    outline: none;
}

@media screen and (max-width: 600px) {
    .rules {
        margin-top: 100px;
        width: 330px;
    }

    .sentence {
        margin-left: 0;
        margin-top: 30px;
        width: 330px;
    }

    .answer {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .fieldAnswer {
        width: 300px;
        padding: 10px;
        font-size: 16px;
        margin-right: 0;
    }

    .buttonSentence {
        margin: 20px 0 0 10px;
    }
}

