.main {
  background: url('https://firebasestorage.googleapis.com/v0/b/space-eng.appspot.com/o/Exercise%2FDialogs%2FbackgroundDialogs.png?alt=media&token=0ae4d32f-0f4b-4258-8b9e-7e6d1a98945e') no-repeat bottom / cover;
  height: 100vh;

  .caption {
    text-align: center;
    font-size: 70px;
    color: #E8C172;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    font-size: 100px;
  }
}
