.main {
  background: url("../../../Img/Exercise/Dialogs/backgroundDialogs.png") no-repeat bottom / cover;
  height: 100vh;

  .caption {
    text-align: center;
    font-size: 70px;
    color: #E8C172;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    font-size: 100px;
  }
}
