.main {
    background: linear-gradient(124.23deg, #7B09ED 27.43%, #189EC9 73.37%);
    height: 100vh;
}

.offer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.txtOffer {
    font-size: 35px;
    color: #ffffff;
    width: 50%;
    z-index: 2;
}

.img {
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    width: 80vh;
    opacity: 0.5;
}


.contacts {
    position: fixed;
    display: flex;
    bottom: 40px;
    right: 40px;
}

.p {
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

.email {
    color: #ffffff;
}



