.main {
  background: #6E18C4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.window {
  background: #FFF4F4 url("../../Img/Modal/backModal.png")no-repeat center / cover;
  background-size: 100%;
  height: 550px;
  width: 500px;
  border-radius: 10px;
  justify-content: center;
}

.band {
  width: 100%;
  height: 90px;
  background-color: #2E05A3;
  border-radius: 8px;
  margin-top: -6px;
}
.modalImg {
  position: fixed;
  width: 250px;
  margin: -140px 0 0 115px;
}
.inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
}
.input {
  width: 400px;
  height: 40px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 20px;
  padding: 10px 0 10px 20px ;
  font-size: 20px;
  margin-top: 30px;
  outline: none;
}
.btn {
  margin-top: 5%;
  background: linear-gradient(90.19deg, rgba(61, 10, 205, 0.66) 0.27%, rgba(131, 10, 205, 0.32) 96.53%);
  border-radius: 53px;
  width: 400px;
  height: 60px;
  font-size: 30px;
}
.txtEnter {
  margin-top: 2%;
  font-size: 18px;
}

.link {
  text-decoration: none;
  margin-bottom: 50px;
  color: white;
  font-size: 30px;
}
